body {
    background-color: rgba(9, 13, 31, 1);
}

/* Header styles override */
.burger span {
    background: #ffffff;
}

.username p, .nav-link {
    color: #fff;
}

/* Footer styles override */
.footer-item {
    color: #fff;
}

.about-wrapper {
    margin: 0 auto;
}

.newsletter-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 60px auto 0;
}

.subtitle {
    font-family: Inter, monospace;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    text-align: center;
    color: rgba(127, 86, 217, 1);
}

.title {
    font-family: Inter, monospace;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    margin-top: 12px;
}

.description {
    font-family: Inter, monospace;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0;
    text-align: center;
    color: rgba(192, 197, 208, 1);
    margin-top: 24px;
    max-width: 700px;
}

.email-input {
    width: 360px;
    height: 48px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(208, 213, 221, 1);
    box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
    outline: none;
    padding-inline: 16px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .email-input {
        width: 300px;
    }
}

@media (max-width: 576px) {
    .email-input {
        width: 260px;
    }
}

@media (max-width: 476px) {
    .email-input {
        width: 220px;
    }
}

.email-input::placeholder {
    font-family: Inter, monospace;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    color: rgba(102, 112, 133, 1);
}

.subscribe-btn {
    width: 118px;
    height: 48px;
    border-radius: 8px;
    background-color: rgba(127, 86, 217, 1);
    border: 1px solid rgba(127, 86, 217, 1);
    box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
    cursor: pointer;
    font-family: Inter, monospace;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    color: rgba(255, 255, 255, 1);
    transition: 0.2s all;
}

@media (max-width: 476px) {
    .subscribe-btn {
        width: 80px;
        font-size: 12px;
    }
}

.subscribe-btn:hover {
    opacity: 0.8;
}

.newsletter-form-wrapper {
    margin-top: 40px;
}

.newsletter-form {
    display: flex;
    gap: 16px;
}

.privacy-policy {
    font-family: Inter, monospace;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
    color: rgba(192, 197, 208, 1);
}

.privacy-policy-wrapper {
    margin-top: 8px;
}

.underline {
    text-decoration: underline;
}

.all-blog-posts {
    margin: 60px auto 0;
}

.all-blog-posts-title {
    font-family: Inter, monospace;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0;
    color: rgba(255, 255, 255, 1);
}

.all-blogs-grid {
    margin-top: 32px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
}

@media (max-width: 768px) {
    .all-blogs-grid {
        grid-template-columns: 1fr;
    }
}

.all-blogs-card-text {
    max-width: 384px;
    font-family: Inter, monospace;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    color: #667085;
    margin-top: 12px;
}

.all-blogs-card {
    width: 100%;
}

.all-blogs-img {
    width: 100%;
}

.author-date-label {
    color: rgba(105, 65, 198, 1);
    margin-top: 32px;
    font-weight: 600;
}

.all-blogs-card-title {
    color: rgba(255, 255, 255, 1);
    margin-top: 12px;
}

.all-blogs-card-text {
    color: rgba(192, 197, 208, 1);
    margin-top: 12px;
}

a {
    transition: 0.2s all;
}

a:hover {
    opacity: 0.8;
}
